[submodule ".vim/pack/theme/start/vim-airline"]
	path = .vim/pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/go/start/vim-go"]
	path = .vim/pack/go/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/deoplete/start/deoplete.nvim"]
	path = .vim/pack/deoplete/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".vim/pack/nvim/opt/nvim-yarp"]
	path = .vim/pack/nvim/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".vim/pack/nvim/opt/vim-hug-neovim-rpc"]
	path = .vim/pack/nvim/opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".vim/pack/daniel/start/ale"]
	path = .vim/pack/daniel/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/vinegar/start/vim-vinegar"]
	path = .vim/pack/vinegar/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/pack/fzf/start/fzf.vim"]
	path = .vim/pack/fzf/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/javascript/start/vim-html-template-literals"]
	path = .vim/pack/javascript/start/vim-html-template-literals
	url = https://github.com/jonsmithers/vim-html-template-literals
[submodule ".vim/pack/javascript/start/vim-javascript"]
	path = .vim/pack/javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/html/start/emmet-vim"]
	path = .vim/pack/html/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
